<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}} - Dashboard</title>
        <script src="https://kit.fontawesome.com/c7045d037b.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
            rel="stylesheet">
                    
        <link type="text/css"
            href="{% static 'css/check_mate.css' %}"
            rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/perfect-scrollbar.css' %}"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/spinkit.css' %}"
              rel="stylesheet">

    </head>

    <body class=" fixed-layout">

        {% block loader %}
            {% include 'loader.html' %}
        {% endblock %}

        <div class="mdk-header-layout js-mdk-header-layout">

            {% block header%}
                {% include 'header.html' %}
            {% endblock header %}

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content d-flex flex-column">

                <div class="page__header">
                    <div class="navbar bg-dark navbar-dark navbar-expand-sm d-none2 d-md-flex2">
                        <div class="container">

                            {% block navbar %}
                                {% include 'navbar.html' %}
                            {% endblock navbar %}

                        </div>
                    </div>
                </div>

                <div class="page ">

                    <div class="container page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Announcements</li>
                        </ol>
                        <h1 class="h2">All Announcements</h1>

                            <div class="row">
                                <form method="POST">
                                {% csrf_token %}
                                {% for x in announcements %}
                                {% if not x.section_exam.is_completed %}
                                <div class="col-md-8">

                                        <div class="d-flex">
                                            <a href="#"
                                               class="avatar avatar-online mr-3">
                                                <img src=""
                                                     alt="people"
                                                     class="avatar"
                                                     onerror="this.onerror=null;this.src='{% static 'default_profile_picture/default_profile_picture.png'%}';">
                                            </a>
                                            <div class="flex">
                                                <p class="d-flex align-items-center mb-2">
                                                    <a href=""
                                                       class="text-body mr-2" style="text-decoration:none;"><strong>{{x.given_by}}</strong></a>
                                                </p>
                                                <p class="d-flex align-items-center mb-2">
                                                    <a href=""
                                                        class="text-body mr-2" style="text-decoration:none;"><strong>{{x.section_exam.section.course_id.course_code}}.{{x.section_exam.section.section_number}}</strong></a>
                                                </p>
                                                
                                                <p>{{x.announcement}}</p>

                                                    <input type="submit" class="btn btn-primary btn-sm" value="Download Answer Template" name="download_paper">
                                                    <input type="hidden" value="{{x.section_exam.pk}}" name="get_value">

                                            </div>
                                        </div>

                                </div>
                                <br><br><hr>
                                {% endif %}
                                {% endfor %}
                                </form>
                            </div>

                    </div>

                    {% block footer %}
                        {% include 'footer.html' %}
                    {% endblock footer %}
                </div>
            </div>

        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/dom-factory.js' %}"></script>
        <script src="{% static 'js/material-design-kit.js' %}"></script>
        <script src="{% static 'js/check_mate.js' %}"></script>


    </body>

</html>