<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}} - Dashboard</title>
        <script src="https://kit.fontawesome.com/c7045d037b.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
            rel="stylesheet">
                    
        <link type="text/css"
            href="{% static 'css/check_mate.css' %}"
            rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/perfect-scrollbar.css' %}"
              rel="stylesheet">


    </head>

    <body class=" fixed-layout">

        <div class="mdk-header-layout js-mdk-header-layout">

            {% block header%}
                {% include 'header.html' %}
            {% endblock header %}

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content d-flex flex-column">

                <div class="page__header">
                    <div class="navbar bg-dark navbar-dark navbar-expand-sm d-none2 d-md-flex2">
                        <div class="container">

                            {% block navbar %}
                                {% include 'navbar.html' %}
                            {% endblock navbar %}

                        </div>
                    </div>
                </div>

                <div class="page ">

                    <div class="container page__container">
                        {% comment %} <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Home</a></li>
                        </ol> {% endcomment %}
                        <h1 class="h2">Dashboard</h1>
                        <div class="card">
                            <div class="card-body">
                                <div class="media flex-wrap align-items-center">
                                    <div class="media-body"
                                         style="min-width: 180px">
                                        User Name: <strong>{{logged_in_user.user_id}}, {{logged_in_user.user_first_name}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container page__container">
                        {% comment %} <div class="footer">
                            Copyright &copy; 2016 - <a href="">Purchase LearnPlus</a>
                        </div> {% endcomment %}
                    </div>
                </div>
            </div>

        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/dom-factory.js' %}"></script>
        <script src="{% static 'js/material-design-kit.js' %}"></script>
        <script src="{% static 'js/check_mate.js' %}"></script>


    </body>

</html>