<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}} - Edit Profile</title>
        <script src="https://kit.fontawesome.com/c7045d037b.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
            rel="stylesheet">
                    
        <link type="text/css"
            href="{% static 'css/check_mate.css' %}"
            rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/perfect-scrollbar.css' %}"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/spinkit.css' %}"
              rel="stylesheet">
    </head>

    <body class=" fixed-layout">

        {% block loader %}
            {% include 'loader.html' %}
        {% endblock %}


        <div class="mdk-header-layout js-mdk-header-layout">

            {% block header %}
                {% include 'header.html' %}
            {% endblock %}

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content d-flex flex-column">

                <div class="page__header">
                    <div class="navbar bg-dark navbar-dark navbar-expand-sm d-none2 d-md-flex2">
                        <div class="container">

                            {% block navbar %}
                                {% include 'navbar.html' %}
                            {% endblock navbar %}

                        </div>
                    </div>
                </div>

                <div class="page ">

                    <div class="container page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Edit Account</li>
                        </ol>
                        <h1 class="h2">Edit Account</h1>

                        <div class="card">
                            <div class="tab-content card-body">
                                <div class="tab-pane active"
                                     id="first">
                                    <form method="POST"
                                          class="form-horizontal">
                                          <div class="form-group row">
                                            <label for="name"
                                                   class="col-sm-3 col-form-label form-label">Full Name</label>
                                            <div class="col-sm-8">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <input id="name"
                                                               type="text"
                                                               class="form-control"
                                                               placeholder="First Name"
                                                               value="MD.Sakib">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="Middle Name"
                                                               value="">
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input type="text"
                                                               class="form-control"
                                                               placeholder="Last Name"
                                                               value="Sami">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="avatar"
                                                   class="col-sm-3 col-form-label form-label">Profile Picture</label>
                                            <div class="col-sm-9">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <div class="icon-block rounded">
                                                            <i class="fa-solid fa-image"></i>
                                                        </div>
                                                    </div>
                                                    <div class="media-body">
                                                        <div class="custom-file"
                                                             style="width: auto;">
                                                            <input type="file"
                                                                   id="avatar"
                                                                   class="custom-file-input">
                                                            <label for="avatar"
                                                                   class="custom-file-label">Choose file</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="form-group row">
                                            <label for="email"
                                                   class="col-sm-3 col-form-label form-label">User Name</label>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa-solid fa-user"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text"
                                                           id="email"
                                                           class="form-control"
                                                           placeholder="User Name"
                                                           value="school_user_name"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="email"
                                                   class="col-sm-3 col-form-label form-label">Email</label>
                                            <div class="col-sm-6 col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa-solid fa-envelope"></i>
                                                        </div>
                                                    </div>
                                                    <input type="text"
                                                           id="email"
                                                           class="form-control"
                                                           placeholder="Email Address"
                                                           value="school_user_email@gmail.com"
                                                           disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password"
                                                   class="col-sm-3 col-form-label form-label">Old Password</label>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa-solid fa-lock"></i>
                                                        </div>
                                                    </div>
                                                    <input type="password"
                                                           id="password"
                                                           class="form-control"
                                                           placeholder="Enter old password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password"
                                                   class="col-sm-3 col-form-label form-label">New Password</label>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa-solid fa-key"></i>
                                                        </div>
                                                    </div>
                                                    <input type="password"
                                                           id="password"
                                                           class="form-control"
                                                           placeholder="Enter new password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password"
                                                   class="col-sm-3 col-form-label form-label">Confirm New Password</label>
                                            <div class="col-sm-6 col-md-4">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa-solid fa-key"></i>
                                                        </div>
                                                    </div>
                                                    <input type="password"
                                                           id="password"
                                                           class="form-control"
                                                           placeholder="Confirm new password">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-8 offset-sm-3">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <a href="#"
                                                           class="btn btn-success">Save Changes</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <div class="tab-pane"
                                     id="second">
                                    <form action="#"
                                          class="form-horizontal">
                                        <div class="form-group row">
                                            <label for="name_on_invoice"
                                                   class="col-sm-3 col-form-label form-label">Name on Invoice</label>
                                            <div class="col-sm-6 col-md-4">
                                                <input id="name_on_invoice"
                                                       type="text"
                                                       class="form-control"
                                                       value="Adrian Demian">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="billing_address"
                                                   class="col-sm-3 col-form-label form-label">Address</label>
                                            <div class="col-sm-6 col-md-4">
                                                <input id="billing_address"
                                                       type="text"
                                                       class="form-control"
                                                       value="Sunny Street, 21, Miami, Florida">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="billing_country"
                                                   class="col-sm-3 col-form-label form-label">Country</label>
                                            <div class="col-sm-6 col-md-4">
                                                <select id="billing_country"
                                                        class="custom-control custom-select form-control">
                                                    <option value="1"
                                                            selected>USA</option>
                                                    <option value="2">India</option>
                                                    <option value="3">United Kingdom</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 col-md-4 offset-sm-3">
                                                <a href="#"
                                                   class="btn btn-success"> Update Billing</a>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="card mt-2">
                                        <div class="card-header">
                                            <div class="media align-items-center">
                                                <div class="media-body">
                                                    <h4 class="card-title">Payment Info</h4>
                                                </div>
                                                <div class="media-right">
                                                    <a href="#"
                                                       class="btn btn-sm btn-outline-primary"><i class="material-icons">add</i></a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="card-footer p-0 list-group list-group-fit">
                                            <li class="list-group-item active">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <span class="btn btn-primary btn-circle"><i class="material-icons">credit_card</i></span>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mb-0">**** **** **** 2422</p>
                                                        <small>Updated on 12/02/2016</small>
                                                    </div>
                                                    <div class="media-right">
                                                        <a href="#"
                                                           class="btn btn-primary btn-sm">
                                                            <i class="material-icons btn__icon--left">edit</i> EDIT
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="list-group-item">
                                                <div class="media align-items-center">
                                                    <div class="media-left">
                                                        <span class="btn btn-white btn-circle"><i class="material-icons">credit_card</i></span>
                                                    </div>
                                                    <div class="media-body">
                                                        <p class="mb-0">**** **** **** 6321</p>
                                                        <small class="text-muted">Updated on 11/01/2016</small>
                                                    </div>
                                                    <div class="media-right">
                                                        <a href="#"
                                                           class="btn btn-white btn-sm">
                                                            <i class="material-icons btn__icon--left">edit</i> EDIT
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% block footer %}
                        {% include 'footer.html' %}
                    {% endblock footer %}
                </div>
            </div>

        </div>

        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/dom-factory.js' %}"></script>
        <script src="{% static 'js/material-design-kit.js' %}"></script>
        <script src="{% static 'js/check_mate.js' %}"></script>

    </body>

</html>