<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}} - Dashboard</title>
        <script src="https://kit.fontawesome.com/c7045d037b.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
            rel="stylesheet">
                    
        <link type="text/css"
            href="{% static 'css/check_mate.css' %}"
            rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/perfect-scrollbar.css' %}"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/spinkit.css' %}"
              rel="stylesheet">

    </head>

    <body class=" fixed-layout">

        {% block loader %}
            {% include 'loader.html' %}
        {% endblock %}

        <div class="mdk-header-layout js-mdk-header-layout">

            {% block header%}
                {% include 'header.html' %}
            {% endblock header %}

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content d-flex flex-column">

                <div class="page__header">
                    <div class="navbar bg-dark navbar-dark navbar-expand-sm d-none2 d-md-flex2">
                        <div class="container">

                            {% block navbar %}
                                {% include 'navbar.html' %}
                            {% endblock navbar %}

                        </div>
                    </div>
                </div>

                <div class="page ">

                    <div class="container page__container">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'users:dashboard' %}">Home</a></li>
                            <li class="breadcrumb-item active">Exams</li>
                        </ol>
                        <div class="media align-items-center mb-headings">
                            <div class="media-body">
                                <h1 class="h2">Exams</h1>
                            </div>
                            {% if 1 in user_type or 3 in user_type %}
                            <div class="media-right d-flex align-items-center">
                                <a href="{% url 'users:take_exam' course_id %}"
                                   class="btn btn-success mr-2">Take Exam</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="card-columns">
                            {% for exam in section_exams %}
                            <div class="card card-sm">
                                <div class="card-body media">
                                    <div class="media-left">
                                        <a href=""
                                           class="avatar avatar-lg avatar-4by3">
                                            <img src="{% if exam.exam_type.type_id == 1 %}{% static 'static_pics/Quiz.png' %}{% elif exam.exam_type.type_id == 2 or exam.exam_type.type_id == 3 %}{% static 'static_pics/Mid-term.png' %}{% endif %}"
                                                 alt="Exam Image"
                                                 class="avatar-img">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h4 class="card-title mb-0"><a href="">{{exam.exam_title}}</a></h4>
                                        <small class="text-muted">{{exam.exam_description}}</small>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    {% if 1 in user_type or 3 in user_type %}
                                    <a href=""
                                       class="btn btn-white btn-sm float-left">Review <span class="badge badge-dark ml-2">40 papers</span></a>
                                    {% endif %}
                                       <p
                                       class="btn btn-white btn-sm float-left">Exam: <span class="badge badge-dark ml-2">{{exam.exam_type.exam_type}}</span></p>
                                       {% if 1 in user_type or 3 in user_type %}
                                       <a href="{% url 'users:edit_exam' course_id exam.pk %}"
                                       class="btn btn-default btn-sm float-right"><i class="fa-solid fa-pen-to-square"></i> Edit </a>
                                        {% endif %}
                                       <div class="clearfix"></div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    {% block footer %}
                        {% include 'footer.html' %}
                    {% endblock footer %}
                </div>
            </div>

        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            {% for message in messages %}
            {% if message.tags == 'error' %}
            swal("Error!", "{{message}}", "error");
            {% else %}
            swal("Done!", "{{message}}", "success");
            {% endif %}
            {% endfor %}
        </script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/dom-factory.js' %}"></script>
        <script src="{% static 'js/material-design-kit.js' %}"></script>
        <script src="{% static 'js/check_mate.js' %}"></script>


    </body>

</html>