<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
        <meta name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{page_title}} - Dashboard</title>
        <script src="https://kit.fontawesome.com/c7045d037b.js" crossorigin="anonymous"></script>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
            rel="stylesheet">
                    
        <link type="text/css"
            href="{% static 'css/check_mate.css' %}"
            rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/perfect-scrollbar.css' %}"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'css/spinkit.css' %}"
              rel="stylesheet">

    </head>

    <body class=" fixed-layout">

        {% block loader %}
            {% include 'loader.html' %}
        {% endblock %}

        <div class="mdk-header-layout js-mdk-header-layout">

            {% block header%}
                {% include 'header.html' %}
            {% endblock header %}

            <!-- Header Layout Content -->
            <div class="mdk-header-layout__content d-flex flex-column">

                <div class="page__header">
                    <div class="navbar bg-dark navbar-dark navbar-expand-sm d-none2 d-md-flex2">
                        <div class="container">

                            {% block navbar %}
                                {% include 'navbar.html' %}
                            {% endblock navbar %}

                        </div>
                    </div>
                </div>

                <div class="page ">

                    <div class="page ">

                        <div class="container page__container">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                <li class="breadcrumb-item">Components</li>
                                <li class="breadcrumb-item active">Forms</li>
                            </ol>
    
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <h4 class="card-title">Select Number of Quizzes</h4>
                                    </div>
                                    <div class="col-lg-8">
                                        <form action="#">
                                            
                                            <div class="form-group">
                                                <label class="form-label"
                                                       for="custom-select">Quizzes (Best Score Would be Considered)</label>
                                                <select id="custom-select"
                                                        class="form-control custom-select" multiple>
                                                    <option selected>Open this select menu</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                            </div>
                                           
                                            <div class="form-group">
                                                <label for="touch-spin-2"
                                                        class="form-label">Weight (in %)</label>
                                                <input id="touch-spin-2"
                                                        data-toggle="touch-spin"
                                                        data-min="-1000000"
                                                        data-max="1000000"
                                                        data-step="50"
                                                        type="text"
                                                        value="200"
                                                        name="demo2"
                                                        class="form-control" />
                                            </div>
                                             

                                        </form>
                                    </div>
                                </div>
                            </div>
    
                        </div>
    
                        <div class="container page__container">
                            <div class="footer">
                                Copyright &copy; 2016 - <a href="http://themeforest.net/item/learnplus-learning-management-application/15287372?ref=mosaicpro">Purchase LearnPlus</a>
                            </div>
                        </div>
                    </div>

                    {% block footer %}
                        {% include 'footer.html' %}
                    {% endblock footer %}
                </div>
            </div>

        </div>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>
            {% for message in messages %}
            {% if message.tags == 'error' %}
            swal("Error!", "{{message}}", "error");
            {% else %}
            swal("Done!", "{{message}}", "success");
            {% endif %}
            {% endfor %}
        </script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
        <script src="{% static 'js/dom-factory.js' %}"></script>
        <script src="{% static 'js/material-design-kit.js' %}"></script>
        <script src="{% static 'js/check_mate.js' %}"></script>


    </body>

</html>