<!DOCTYPE html>
{% load static %}
<html lang="en"
      dir="ltr">

<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"
              content="IE=edge">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Signup</title>

        <link href="https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500%7CRoboto:400,500&amp;display=swap"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'spinkit.css' %}"
              rel="stylesheet">

        <link type="text/css"
              href="{% static 'app.css' %}"
              rel="stylesheet">


    </head>

    <body class="login">

        <div class="d-flex align-items-center"
             style="min-height: 100vh">
            <div class="col-sm-8 col-md-6 col-lg-4 mx-auto"
                 style="min-width: 300px;">
                <div class="text-center mt-5 mb-1">
                    <div class="avatar avatar-lg">
                        <img src="{% static 'login_images/graduation.png' %}"
                             class="avatar-img"
                             alt="CheckMate" />
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-5 navbar-light">
                    <h1 class="navbar-brand m-0">{{page_title}}</h1>
                </div>
                <div class="card navbar-shadow">
                    <div class="card-header text-center">
                        <h4 class="card-title">Sign Up</h4>
                        <p class="card-subtitle">Create a new account</p>
                    </div>
                    <div class="card-body">

                        {% for message in messages %}
                            <p class="message" style="color:#941910; text-align: center;">{{message}}</p>
                        {% endfor %}
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="form-label"
                                       for="name">User Name:</label>
                                <div class="input-group input-group-merge">
                                    <input id="name"
                                           type="text"
                                           required
                                           class="form-control form-control-prepended"
                                           placeholder="Your Username"
                                           name = "user_name">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="far fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="password">Password:</label>
                                <div class="input-group input-group-merge">
                                    <input id="password"
                                           type="password"
                                           required
                                           class="form-control form-control-prepended"
                                           placeholder="Choose a password"
                                           name = "user_password">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="far fa-key"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="form-label"
                                       for="password2"> Confirm Password:</label>
                                <div class="input-group input-group-merge">
                                    <input id="password2"
                                           type="password"
                                           required
                                           class="form-control form-control-prepended"
                                           placeholder="Confirm password"
                                           name = "confirm_user_password">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <span class="far fa-key"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="submit"
                                    class="btn btn-primary btn-block mb-3" value = "Sign Up" name = "registration_button">
    
                        </form>
                    </div>
                    <div class="card-footer text-center text-black-50">Already signed up? <a href="{% url 'users:login' %}">Login</a></div>
                </div>
            </div>
        </div>
        

    </body>

</html>